:root {
  --accent-color: #272044;
}

body {
  background: var(--accent-color);
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

section {
  margin: 0 auto;
  max-width: 1200px;
  padding: 100px 0;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.img-responsive {
  max-width: 100%;
}

.two-column-grid {
  grid-template-columns: auto auto;
}

.uneven-three-column-grid {
  grid-template-columns: 1fr 2fr 2fr;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/bad-bunny-headshot.webp");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
  margin: 0;
}

header h3 {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  background: white;
  color: var(--accent-color);
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-top: 32px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

main {
  background: white;
}

main h2 {
  color: var(--accent-color);
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}

main h3 {
  color: var(--accent-color);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 5px;
  opacity: 0.3;
  text-transform: uppercase;
}

main p {
  color: var(--accent-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  opacity: 0.7;
}

footer {
  background-image: linear-gradient(rgba(39, 32, 68, 0.9), rgba(39, 32, 68, 0.9)), url(../images/dtmf.webp);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}


footer a {
  color: white;
  opacity: 0.7;
  text-decoration: none;
  transform: all 100ms ease-in-out;
}

footer a:hover {
  color: seagreen;
}

footer h4 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

footer p {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.7;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  section {
    padding: 30px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
}