:root {
  --accent-color: #272044;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/dtmf.webp");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
  margin: 0;
}

header h3 {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  background: white;
  color: var(--accent-color);
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-top: 32px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

footer {
  color: var(--accent-color);
  font-size: 20px;
  font-size: 12px;
  margin: 30px 0;
  text-align: center;
}

footer a {
  color: purple;
  text-decoration: none;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }
}