:root {
  --accent-color: #272044;
  --btn-color: #462cb3;
}

body {
  background: var(--accent-color);
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

section {
  margin: 0 auto;
  max-width: 100%;
  padding: 100px 35px;
}

section.secondary {
  background: rgba(18, 18, 18, 0.1);
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.two-column-grid {
  grid-template-columns: auto auto;
}

.three-column-grid {
  grid-template-columns: repeat(3, 1fr);
}

.uneven-three-column-grid {
  grid-template-columns: 1fr 2fr 2fr;
}

.text-center {
  text-align: center;
}

.img-responsive {
  max-width: 100%;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/bad-bunny-headshot.webp");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
}

header h2 {
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}

header h3 {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  background: white;
  border-radius: 100px;
  color: var(--accent-color);
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-top: 32px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

main {
  background: white;
}

main h2 {
  color: var(--accent-color);
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}

main h3 {
  color: var(--accent-color);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 5px;
  opacity: 0.3;
  text-transform: uppercase;
}

main h4 {
  color: var(--accent-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

main h5 {
  color: var(--accent-color);
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

main p {
  color: var(--accent-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  opacity: 0.7;
}

.embed-song {
  border-radius: 18px;
}

.card {
  background: white;
  border-radius: 18px;
  margin: 30px 0;
}

.card-body {
  padding: 30px 30px 20px;
}

.card-footer {
  padding: 0 30px 45px;
}

.btn {
  background: var(--btn-color);
  border-radius: 100px;
  color: white;
  display: block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  padding: 16px;
  text-align: center;
  text-decoration: none;
}

footer {
  background-image: linear-gradient(rgba(39, 32, 68, 0.9), rgba(39, 32, 68, 0.9)), url(../images/dtmf.webp);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}


footer a {
  color: white;
  opacity: 0.7;
  text-decoration: none;
  transform: all 100ms ease-in-out;
}

footer a:hover {
  color: seagreen;
}

footer h4 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

footer p {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.7;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  section {
    padding: 30px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
}